
/* Google Font */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap");

body, html {
    font-family: Poppins,sans-serif;

    width: 100;
    height: 100;
    min-height: 100vh;
}

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;

    overflow-x: hidden;
    background-color: #f3f4f7;
    font-family: Poppins,sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
	padding: 0 20px;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 20px;
    color: white;
}

/* Dark Mode (not done) */

/*.dark-mode {
    color: white;
    background-color: #333;
}

.dark-mode .navbar ul {
    box-shadow: 0 5px 10px #ccc;
}

.dark-mode .navbar .active {
    color: #f3f4f7;
    background-color: gray;
}

.dark-mode .navbar li a:hover {
    background-color: #111;
}

.dark-mode .footer {
    box-shadow: 5px 0px 10px #ccc;
}*/

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    border-radius: 25px;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}

.header li .active {
    background-color: gray;
}

.page-content {
    flex-grow: 1;
    margin-left: 50px;
    margin-right: 50px;
}

.page-content h1 {
    margin-left: 20px;
    margin-bottom: 0;
}

.page-content a {
    margin-top: 0;
    margin-bottom: 0;
}

.page-content ul {
    margin-left: 20px;
    margin-top: 10px;
}

.footer {

    border-top: 1px solid #dad8d8;
	background-color: #333;
	padding: 0 20px;
	padding-top: 0em;
	padding-bottom: 0em;
	font-size: 14px;
	text-align: center;
    color: white; 
     
}